.simple-detail-view-list {
    display: block;
    width: 100%;
    margin-top: 10px;
    max-height: 30vh;
    overflow-y: scroll;
}

.simple-detail-view-entry {
    display: block;
    background-color: var(--kb-color-hsl-blue-200);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.simple-detail-view-entry span {
    display: block;
}

.detail-view-name {
    font-family: Verdana, sans-serif;
    font-weight: bold;
}