/****************** header section ********************/
:root {
    --color-scheme: light;
    --all-borders: 1px;
}
html {
    box-sizing: border-box;
    margin: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    min-height: min-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
}

.title h1 {
    font-style: inherit;
    color: var(--kb-color-hsl-purple-700);
    letter-spacing: 0.06em;
    margin: 0;
    padding-bottom: 5px;
}

.subtitle h3 {
    font-style: inherit;
    color: var(--kb-color-hsl-purple-700);
    letter-spacing: 0.06em;
    margin: 0;
}
.title {
    display: block;
    margin: 0;
}
.kolibri-logo-anim {
    grid-column: 7 / 8;
    grid-row: 0 / 1;
}
.kolibri-logo {
    height: 100px;
    align-content: end;
}

/****************** interaction section ********************/
.interaction-section {
    flex: 1;
}

.content {
    justify-content: space-around;
    display: flex;
}

.detail-view {
    width: 35vw;
    padding-top: 10px;
    padding-bottom: 20px;
}

/****************** item selection ********************/
.chart-selector-form {
    margin: 0.5em;
    position: relative;
}
.chart-selector-form select {
    font-family: inherit;
    margin-bottom: 0.25em;
    font-size: inherit;
    color: var(--kb-rgb-primary-dark);
    background-color: var(--kb-color-hsl-blue-100);
    border-radius: 0;
    border: none;
    padding: 0.25em;
    background-size: 2em;
}

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: inherit;
    min-width: max-content;
    padding-right: 0.5em;
    color: var(--kb-color-hsl-purple-700);
}
.custom-select select {
    display: none; /*hide original SELECT element: */
}
.select-selected {
    background-color: var(--kb-hsla-secondary-bg);
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
    padding: 8px 16px;
    border: 1px solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    color: var(--kb-color-hsl-purple-700);
    background-color: var(--kb-color-hsl-purple-200);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

/****************** color picker ********************/
.color-picker {
    font-size: var(--font-size-textXS);
    padding-right: 0.5em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

/****************** slider ********************/
input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 200px;
    height: 7px;
    background: var(--kolibri-color-shadow);
    border-radius: 5px;
    background-image: linear-gradient(var(--kolibri-color-neutral), var(--kolibri-color-neutral));
    background-size: 0 100%;
    background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: var(--kb-rgb-primary-accent);
    cursor: grab;
    box-shadow: var(--kolibri-box-shadow);
    transition: background .5ms ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:active {
    background: var(--kb-rgb-primary-accent);
    height: 22px;
    width: 22px;
    cursor: grabbing;
}

input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

/****************** switch data button ********************/
.button {
    font-size: var(--font-size-textXS);
    color: var(--kb-rgb-primary-dark);
    background-color: var(--kb-color-hsl-blue-100);
    border-radius: 0;
    height: var(--toolbar-button-size);
    border: transparent;
    outline: var(--all-borders) solid var(--kb-rgb-primary-dark);
    padding: 0.5em;
}
.button:hover {
    color: var(--kb-color-hsl-blue-100);
    background-color: var(--kb-rgb-primary-dark);
    transition: 0.4s;
}
.button:active, .button.active {
    color: var(--kb-color-rgb-purple-200);
    background-color: var(--kb-rgb-primary-dark);
    transition: 0.1s;
}

/****************** footer section ********************/
.footer {
    display: flex;
    align-items: flex-end;
    padding: 5px;
    min-height: calc(var(--font-size-textXS));
    max-height: calc(var(--font-size-textL));
    vertical-align: baseline;
    bottom: 0;
    flex-shrink: 0;
    background-color: var(--kb-color-rgb-lavender-200);
    position: sticky;
    z-index: 10;
}

.data-table-views {
    display: flex;
    flex-direction: row;
}

.data-table-views > * {
    margin: 5px;
}

table {
    display: block;
    background: white; /* optional */
}

table thead {
    text-align: left; /* optional */
}

table tbody {
    display: block;
    max-height: 200px;
    overflow-y: scroll;
}