

/****************** toolbar section ********************/
.toolbar {
    display: flex;
    min-width: fit-content;
    font-family: var(--font-sans-serif);
    font-size: var(--font-size-textXS);
}

.top {
    padding: 0.5em;
    flex-wrap: wrap;
    justify-content: flex-start;
    outline: var(--all-borders) solid var(--kb-color-hsl-purple-200);
    background-color: var(--kb-color-hsl-white);
    align-items: center;
}

.bottom {
    padding: 0.5em;
    flex-wrap: wrap;
    justify-content: space-between;
    outline: var(--all-borders) solid var(--kb-color-hsl-purple-200);
    background-color: var(--kb-color-hsl-white);
    align-items: center;
}

.left {
    outline: none;
    background-color: transparent;
    padding-right: 1em;
}

.middle {
    outline: none;
    background-color: transparent;
    padding-right: 1em;
}

.right {
    outline: none;
    background-color: transparent;
    padding-right: 0.5em;
    min-width: fit-content;
}

/****************** charts toolbar buttons ********************/

.toolbar-button {
    line-height: 0;
    background-color: var(--kb-color-hsl-blue-100);
    border-radius: 0;
    border: var(--all-borders) solid var(--kb-rgb-primary-dark);
    outline: transparent;
    margin: 0.2em 0.1em;
    padding: 0.1em;
}

.toolbar-button svg {
    width: var(--toolbar-button-size);
    height: var(--toolbar-button-size);
    stroke: var(--kb-color-hsl-purple-700);
    fill: var(--kb-color-hsl-white);
}

.toolbar-button svg .rectangle-fill-accent {
    margin: 0;
    padding: 0;
    fill: var(--kb-color-hsl-blue-100);
    width: 33px;
    height: 33px;
}

.toolbar-button:hover {
    color: var(--kb-color-hsl-blue-100);
    background-color: var(--kb-rgb-primary-dark);
    transition: 0.4s;
}

.toolbar-button:active, .toolbar-button.active {
    color: var(--kb-color-rgb-purple-200);
    background-color: var(--kb-color-rgb-purple-500);
    transition: 0.1s;
}

.toolbar-button > span {
    line-height: normal;
}

/****************** search field ********************/

.search-field {
    font-family: var(--font-sans-serif);
    font-size: var(--font-size-textXS);
    padding: 0.5em;

    height: var(--search-field-height);
    width: calc( 5* var(--toolbar-button-size));

    background: var(--kb-rgb-primary-accent);
    background-color: white;
    border: calc( 1 * var(--all-borders)) solid var(--kb-color-hsl-purple-200);
    outline: transparent;
    margin-left: 0.06em;
}

.search-field:focus {
    border: calc( 1 * var(--all-borders)) solid var(--kb-color-hsl-purple-700);
    outline: 1px solid var(--kb-color-hsl-purple-200);
    outline-offset: 0.03em;
}

/****************** tooltip ********************/

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltipText {
    visibility: hidden;
    width: max-content;
    background-color: var(--kb-color-hsl-blue-200);
    border: 1px solid var(--kb-color-hsl-blue-200);
    font-size: var(--font-size-textXS);
    color: var(--kb-color-rgb-blue-800);
    text-align: center;
    padding: 3px 5px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 30%;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}

/* Tooltip arrow */
.tooltip .tooltipText::after {
    content: "";
    position: absolute;
    top: 116%;
    left: 10%;
    margin-left: -0.3em;
    margin-top: -0.3em;
    border-width: 5px;
    border-style: solid;
    border-color: var(--kb-color-hsl-blue-200) transparent transparent transparent;
}

.move {
    cursor: move;
}