.container * {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(2, max-content);
}

.yAxis {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: 1px solid var(--kb-color-hsl-purple-200);
}

#canvas {
    background-color: var(--kb-color-rgb-white);
    outline: 1px solid var(--kb-color-hsl-purple-200);
    display: block;

}

.chart {
    grid-column: 2;
    grid-row: 1;
    outline: 1px solid var(--kb-color-hsl-purple-200);
}

.xAxis {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    outline: 1px solid var(--kb-color-hsl-purple-200);
}
#x-axis-min-dimension,
#x-axis-max-dimension,
#y-axis-min-dimension,
#y-axis-max-dimension, select {
    background: transparent;
    border: none;
}

#x-axis-min-dimension,
#x-axis-max-dimension,
#y-axis-min-dimension,
#y-axis-max-dimension {
    margin: 5px;
    background-color: var(--kb-color-rgb-white);
    outline: 1px solid var(--kb-color-hsl-purple-200);
}



